html {
  height: 100%;
}
body {
  color: #fff;
  background-color: #6610f2;
  background-image: linear-gradient(to bottom right, #6610f2, white);
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-size: 400%;
  padding: 10%;
  padding-bottom: 20px;
  text-shadow: #2E2E2E 1px 0 5px;
}
button {
  display:block;
}
.centered {
  text-align: center;
}

.field {
  width: 50%;
}

.warning {
  font-size: 26px;
  font-weight: bold;
  animation-name: warn;
  animation-duration: 2s ;
  animation-fill-mode: forwards;

}

@keyframes warn {
  0% {font-size: 26px;}
  33.3% {
    font-size: 32px;
    color: #ffbb33;
  }
  95% {
    color: #fff;
  }
  100% {font-size: 26px;}
}

#warn_div {
  margin: 10px;
}

#logout {
  margin-left: 10px;
}

table {
  margin-top: 40px;
  color: black;
  margin-bottom: 40px;
}

.book {
  margin-bottom: 40px;
}

.card-title, .card-text, .card-header, .list-group-item, .form-check-label {
  color: black;
}

.by {
  font-weight: bold;
  color: #4B515D;
}

.checked {
  color: orange;
}

.radios {
  text-align: center;
  display: inline-block;
}

.star {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  outline: none;
}

.star:checked {
  color: orange;
}
