<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ book.title }} on Bookd</title>
    <!--Get Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Get Google Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Get local stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bookd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('search') }}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">API</a>
      </li>
    </ul>
    <span class="navbar-text">
      Logged in as: {{ username }}
    </span>
    <form class="form-inline">
      <button id="logout" onclick="location.href='{{ url_for('logout') }}';" class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
    </form>
  </div>
</nav>
    <div class="container centered">
      <h1>Bookd Details</h1>
      <div class=row>
        <div class="col-sm-6 book">
      <div class="card centered">
        <h5 class="card-header">{{ book.title }}</h5>
        <div class="card-body">
          <p class="card-text">Author: {{ book.author }}</p>
          <p class="card-text">Published in: {{ book.year }}</p>
          <p class="card-text">ISBN: {{ book.isbn }}</p>
          <p class="card-text">Average Rating on Goodreads: {{ average_rating }}</p>
          <p class="card-text">Number of Ratings on Goodreads: {{ ratings_count }}</p>
        </div>
      </div>
      </div>
        <div class="col-sm-6 book">
          <div class="card">
            <h5 class="card-header">Bookd Reviews</h5>
            <div class="card-body">
              <p class="card-text">Rate and write a Review:</p>
              <form action="{{ url_for('book', title=book.title) }}" method="post">
              <div class="input-group mb-3 radios">
                <div class="form-check form-check-inline">
                  <input class="form-check-input star fa fa-star" type="radio" name="rating" value="1" checked>
                  <label class="form-check-label" for="inlineRadio2">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input star fa fa-star" type="radio" name="rating" value="2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input star fa fa-star" type="radio" name="rating" value="3">
                  <label class="form-check-label" for="inlineRadio2">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input star fa fa-star" type="radio" name="rating" value="4">
                  <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input star fa fa-star" type="radio" name="rating" value="5">
                  <label class="form-check-label" for="inlineRadio2">5</label>
                </div>
                </div>
                <div class="input-group mb-3">
                <input type="text" class="form-control" name="review" placeholder="{{ message }}" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">Submit</button>
                  </div>
                </div>
                </form>
              {% if reviews %}
              <ul class="list-group list-group-flush">
                {% for review in reviews %}
                  <li class="list-group-item"><a>
                    {% for n in range(review.rating) %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for n in range(5-review.rating) %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                    </a><br>
                    <a>{{review.review}}</a><br>
                    <a class="by">-{{review.username}}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
        </div>
    </div>
    </div>
  </body>
</html>
