{% extends "layout.html" %}

{% block title %}
  Bookd Login
{% endblock %}

{% block body %}
<div class="container centered">
  <h1>Bookd Login</h1>
  <div class="container field">
    <form action="{{ url_for('index') }}" method="post">
      <div class="input-group input-group-lg mb-3 centered">
        <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group input-group-lg mb-3 centered">
        <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
  <button type="button" onclick="location.href='{{ url_for('signup') }}';" class="btn btn-light btn-lg">Sign Up</button>
  <div id="warn_div">
    <a class="warning">{{ message }}</a>
  </div>
</div>
{% endblock %}
