{% extends "layout.html" %}

{% block title %}
Bookd Search
{% endblock %}
    {% block javascript %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {

                // By default, submit button is disabled
                const submit = document.querySelector('#submit');
                submit.disabled = true;

                // Enable button if there is text in the input field
                document.querySelector('#search').onkeyup = () => {
                    if (document.querySelector('#search').value.length > 0)
                        submit.disabled = false;
                    else
                        submit.disabled = true;
                    };
        });
    </script>
    {% endblock %}
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Bookd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('search') }}">Search<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      Logged in as: {{ username }}
    </span>
    <form class="form-inline">
      <button id="logout" onclick="location.href='{{ url_for('logout') }}';" class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
    </form>
  </div>
</nav>
    <div class="container centered">
      <h1>Bookd Search</h1>
      <div class="container field">
        <form action="{{ url_for('search') }}" method="post">
          <div class="input-group input-group-lg mb-3 centered">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" id="search" class="form-control" name="search" placeholder="Book Title, Author or ISBN" aria-label="search" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-dark" type="submit" id="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
      {% if books %}
      <table class="table table-light table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.isbn }}</td>
        <td><a href="{{ url_for('book', title=book.title) }}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% elif search %}
  <div id="warn_div">
    <a class="warning"> Sorry, could not find '{{ search }}'</a>
  </div>
  {% endif %}
    </div>
{% endblock %}
