{% extends "layout.html" %}

{% block title %}
  Bookd Sign Up
{% endblock %}

{% block body %}
<div class="container centered">
  <h1>Bookd Sign Up</h1>
  <div id="login" class="container">
    <form action="{{ url_for('signup') }}" method="post">
      <div class="form-group input-group input-group-lg mb-3 centered">
        <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="form-group input-group input-group-lg mb-3 centered">
        <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit" id="button-addon2">Sign Up</button>
        </div>
      </div>
    </form>
    <div>
      <a>{{ message }}</a>
    </div>
  </div>
</div>
{% endblock %}
